.image
{
  height:250px;
  width:200px;
}
.bottom-right{
  height:350px;
  width:200px;
}
.srh input[type=text]
{
  // width:430px;
}
.bbtn
{
  margin-left: 37px;
}
//.bor{
//  height:180px;
//  width:100px;
//}

