<div class="container-fluid bg">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-3">
      <form class="fcont">
        <div class="form-group">
          <p  style="color:#00bfff ; text-align: center; font-size:34px"><b><i>SHOPIFY SIGNUP</i></b></p>
          <label style="color:white">Username:</label>
          <input class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="username" size="10px">
        </div>
        <div class="form-group">
          <label style="color:white">Password:</label>
          <input class="form-control" type="text" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <div style="text-align:center">
          <button type="submit" class="btn btn-primary btn-block" (click)="signupfunction()">SIGN UP</button>
       <hr>
        <a href="#">Already have Account</a>
        </div>
      </form>
    </div>
  </div>
</div>


