<!--<app-nav-bar></app-nav-bar>-->
<!--<app-home-page></app-home-page>-->
<!--<app-login></app-login>-->
<!--<nav>-->
<!--  <a routerLink="/nav-bar" routerLinkActive="active"></a>-->
<!--  <a routerLink="/home-page" routerLinkActive="active"></a>-->
<!--  <a routerLink="/sign-up" routerLinkActive="active"></a>-->
<!--  <a routerLink="/product-details" routerLinkActive="active"></a>-->
<!--  <a routerLink="/product-list" routerLinkActive="active"></a>-->
<!--  <a routerLink="/login" routerLinkActive="active"></a>-->
<!--  <a routerLink="/logout" routerLinkActive="active"></a>-->
<!--  <a routerLink="/profile" routerLinkActive="active"></a>-->
<!--  <a routerLink="/order-history" routerLinkActive="active"></a>-->
<!--  <a routerLink="/user-cart" routerLinkActive="active"></a>-->
<!--</nav>-->

<router-outlet></router-outlet>



